
/*general*/
  body {
      font:20px Montserrat,
        }
  
/*TEXT*/
  h1 {font-size:30px;
     color: #C0C0C0 !important}

      @media only screen and (min-width: 992px) {
      h1 {font-size: 50px; 
      }
        }

      @media only screen and (min-width: 600px) {
      h1 {font-size: 35px; 
      }
        }

  h2 {font-size: 25px;}

      @media only screen and (min-width: 992px) {
        h2 {font-size: 50px; 
        }
          }

      @media only screen and (min-width: 600px) {
        h2 {font-size: 35px; 
        }
          }

  h3 {font-size: 20px;}
  
      @media only screen and (min-width: 992px) {
        h3 {font-size: 35px; 
        }
          }

      @media only screen and (min-width: 600px) {
        h3 {font-size: 30px; 
        }
          }

  h4 {font-size: 50px;
     color: #000000;}

  p {font-size: 14px;}

      @media only screen and (min-width: 992px) {
        p {font-size: 30px; 
        }
          }

      @media only screen and (min-width: 600px) {
        p {font-size: 16px; 
        }
          }

  .h4 {font-size: 35px;}

      @media only screen and (min-width: 992px) {
        .h4 {font-size: 50px; 
        }
          }

      @media only screen and (min-width: 600px) {
        .h4 {font-size: 45px; 
        }
          }

  .p2 {font-size: 12px; font-style: italic; color: #808080;}

      @media only screen and (min-width: 992px) {
        .p2 {font-size: 20px; 
        }
          }

      @media only screen and (min-width: 600px) {
        .p2 {font-size: 20px; 
        }
          }

  .questions-color {color:  #808080;}

  .hosting-options {color: #D3D3D3;}

/*NAV BAR*/

 .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;

  }
      @media only screen and (min-width: 992px) {
        .navbar {letter-spacing: 5px;; 
        }
          }

      @media only screen and (min-width: 600px) {
        .navbar {letter-spacing: 5px;; 
        }
          }


  .navbar-nav  li a:hover {
  }

/* JUMBOTRON */
    /*overwrite the bootstrap jumbotron default bottom margin of 30px*/
      #jumbotron {
      margin-bottom: 0px;
      color: #C0C0C0;
      background-color: #181818;
        }

/* BANNER IMAGE */
  .imgbanner {
    background-color: rgb(210,241,254);
    }

  .banner-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    }

/* PADDING */
.padding {
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
    }

      @media only screen and (min-width: 600px) {
        .padding {padding-top: 40px;
          padding-right: 60px;
          padding-bottom: 40px;
          padding-left: 60px; 
        }
          }

      @media only screen and (min-width: 600px) {
        .padding {padding-top: 40px;
          padding-right: 60px;
          padding-bottom: 40px;
          padding-left: 60px; 
        }
          }

.padding-basics {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
    }

      @media only screen and (min-width: 992px) {
        .padding-basics {padding-top: 50px;
          padding-right: 80px;
          padding-bottom: 50px;
          padding-left: 80px; 
        }
          }

      @media only screen and (min-width: 600px) {
        .padding-basics {padding-top: 20px;
          padding-right: 30px;
          padding-bottom: 20px;
          padding-left: 30px; 
        }
          }

.padding-img-basics {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
    }

      @media only screen and (min-width: 992px) {
        .padding-img-basics {padding-top: 50px;
          padding-right: 50px;
          padding-bottom: 50px;
          padding-left: 50px; 
        }
          }

      @media only screen and (min-width: 600px) {
        .padding-img-basics {padding-top: 30px;
          padding-right: 30px;
          padding-bottom: 30px;
          padding-left: 30px; 
        }
          }

.side-padding {
    padding-right: 30px;
    padding-left: 30px;
    }

    @media only screen and (min-width: 992px) {
      .side-padding {padding-top: 40px;
        padding-right: 60px;
        padding-bottom: 40px;
        padding-left: 60px; 
      }
        }

    @media only screen and (min-width: 600px) {
      .side-padding {padding-top: 40px;
        padding-right: 60px;
        padding-bottom: 40px;
        padding-left: 60px; 
      }
        }

/*hosting images*/

  .img-basic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    }
      @media only screen and (min-width: 992px) {
        .img-basic {width: 70%;
          
        }
          }

      @media only screen and (min-width: 600px) {
        .img-basic {width: 80%;
          }
        }

 .img-free {
   display: block;
   max-width: 68%;
   height: auto;
   margin-left: auto;
   margin-right: auto;
   }

 .img-paid {
   display: block;
   max-width: 68%;
   height: auto;
   margin-left: auto;
   margin-right: auto;
   background-color: #181818
   }

      @media only screen and (min-width: 992px) {
      .img-paid {max-width: 80%; 
      }
        }

      @media only screen and (min-width: 600px) {
      .img-paid {max-width: 85%; 
      }
        }

/*BACKGROUND COLORS*/
  .bg-1 {   
      background-color: #181818; /* Almost black */
      }

  .bg-2 { 
      background-color: rgb(248,248,248);
      }

  .bg-3 { 
      background-color: #181818; /* Almost black */
      color: #555555;
      }

  .bg-4 { 
      background-color: rgb(210,241,254); /* Light Blue */
      }

  .bg-5 {background-color: #D3D3D3;
        } /* Dark Grey */


/*MISC*/
  .text-box {
      width: 800px;
      border: 10px solid rgb(210,241,254);
      padding: 10px;
      margin: 10px;
      }

.width-constrain { 
width: 70%; }

/*ADJUST BOOTSTRAP*/

  /*adjust the bootstrap row margin in mobile view*/
  #row-adjust {margin-right: 0px;
    margin-left:0px;}

     /* @media only screen and (min-width: 992px) {
      .row-adjust {max-width: 80%; 
      }
        }

      @media only screen and (min-width: 600px) {
      .img-adjust {max-width: 85%; 
      }
        }
*/

  /*get ride of h2 bootstrap top margin default */
  .h2 {margin-top:0px;}

/*old padding code*/
/*      .padding1 {
    padding-top: 40px;
    padding-right: 100px;
    padding-bottom: 40px;
    padding-left: 100px;
    }

    .padding2 {
    padding-right: 120px;
    padding-left: 120px;
    }

    .padding3 {
        padding-right: 200px;
        padding-left: 200px;
        }*/
  
  /*.bottom-padding {margin-bottom: 45px;}
  .top-padding {margin-top: 45px;}
  .side-padding: {padding-right: 100px;
   padding-left: 100px;}*/